body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebe4cf;
    background-image: url("/backgrounds/stars\ 2.gif");
    color: #ebe4cf;
}

#map {
  height: 300px;
}

/*Navigation Bar Styling*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
  margin-left: 12px;
}
 .navbar__right{
   display: flex;
 }
a {
  text-decoration: none !important;
  color: #6c5f7c;
  font-size: 24px;
}
 .navbar__right a{
   text-decoration: none;
   font-size: 24px;
   margin-right: 16px;
   color: #ebe4cf;
   transition: all 200ms;
 }
 .navbar__right a:hover{
   color: #dd9919;
 }

main {
  margin: 2vh 8vw;
}

/*Header Styling*/
.header {
  border: solid;
  border-color: #ebe4cf;
  text-align: center;
  background: #0f0125;
  top: 0;
  height: auto;
  margin: 2vh 8vw;
  border-radius: 1vw;
}

 /*Footer Styling*/
footer{
  width: 100%;
  height: 24px;
  font-size: 12px;
  color: #6c5f7c;
  background: #0f0125;
  text-align: center;
}

/*Home Styling*/
.home_main {
  height: 100%;
}

.sidebar_left {
  height: 100%;
}

.sidebar_right {
  height: 100%;
}

 /*Blog Styling*/
.bloglist, .blog, .photo, .photo_list{
  background: #6c5f7c;
  border: solid;
  border-radius: 1vw;
  padding: 20px;
  height: fit-content;
}

.bloglist h1, .bloglist ul, .bloglist a, .blog h1, .blog p, .blog a{
  color: #0f0125;
}

.bloglist ul{
  font-size: 18px;
}

.bloglist a, .blog{
  font-size: 24px;
}

.blog a{
  color: #dd9919;

}

/*Photo Styling*/
.photos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.photos img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border: solid;
    border-width: 0.4vw;
    border-color: #ebe4cf;
    background: #ebe4cf;
    margin: 4px;
}

.photos img:hover {
  object-fit: contain;
}

.photos_desc {
  color: #ebe4cf;
}

.photos_title, .photos_meta {
  color: #0f0125;
}

.photos_meta {
  margin-top: -20px;
  font-size: 12px;
}

#photo_list_items {
  display: grid;
  grid-template-columns: 21vw 50vw;
  grid-template-rows: 1fr 1fr;
}

#photo_list_image img {
  width: 20vw;
  border: solid;
  border-width: 0.4vw;
  border-color: #ebe4cf;
  background: #ebe4cf;
}

/*Main Page Styling*/
.main_wrapper {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 1em;
  border: dotted;
}

.sidebar_left, .sidebar_right, .main_content {
  background: #6c5f7c;
  border: solid;
  border-radius: 1vw;
  padding: 20px;
  height: fit-content;
}

.sidebar_right {
  position: relative;
  width: 10vw;
  height: auto;
}

.sidebar_left {
  position: relative;
  width: 10vw;
  height: auto;
}

.main_content {
  position: relative;
  width: 50vw;
  height: auto;
}

.main_content h2 {
  text-align: center;
}